:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-image-filter: blur(72px);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #ffe764 30%, #42d392);
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ffe764, #42d392);
}